################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BachHoaXanh_Store_log.ldf
/BachHoaXanh_Store.mdf
